<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
      <th scope="col">cin</th>
      <th scope="col">action</th>

    </tr>
  </thead>
  <tbody>
     @for (person of stgiaires; track $index) {
      <tr>
        <td>{{$index}}</td>
        <td>{{person.nom}}</td>
        <td>{{person.prenom}}</td>
        <td>{{person.email}}</td>
        <td>{{person.cin}}</td>
        <td>
          <div class="d-flex justify-content-center gap-4">
            <a  [routerLink]="['/stagiaire/delete',person.id]" class="btn btn-danger btn-sm">delete</a>
            <a [routerLink]="['/stagiaire/edit',person.id]"  class="btn btn-warning btn-sm">edit</a>
            <a [routerLink]="['/stagiaire/details',person.id]"  class="btn btn-info btn-sm">details</a>
          </div>
          

        </td>
      </tr>

     }

  </tbody>
</table> -->


<table mat-table [dataSource]="stgiaires"  class="mat-elevation-z8">
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let person"> {{person.nom}} </td>
  </ng-container>


</table>