.delete {
  background-color:#e73c51 !important;
  color: white!important;
}

.edit {
  background-color:#3c86e7 !important;
  color: white!important;
}

.view {
  background-color:#3ce74a !important;
  color: white!important;
}



